//  button

.idx-about-button, .idx-headache-button {
	position: relative;
		display: block;
		width: 140px;
		margin: 0 40px 0 auto;
		padding: 8px 0 8px 24px;
		color: $color-white;
		border-radius: 2px;
		text-align: left;
		&:before {
			content: "";
			width: 48px;
			height: 2px;
			background-color: $color-black;
			position: absolute;
			top: 50%;
			left: 100%;
			transform: translateX(-50%);
		}
		&:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 0 0 6px;
			border-color: transparent transparent transparent $color-black;
			position: absolute;
			top: 50%;
			left: 100%;
			transform: translate(22px,-3px);
		}
}

//  main-visual

.mv {
	width: 100vw;
	height: calc( 100% - #{$sp-information-height} );
	position: absolute;
	top: 0;
	left: 0;
	padding-top: $sp-header-height;
	@include tab {
		height: calc( ( 100vw - 80px ) * 0.42);
		position: initial;
		padding: 0 40px;
		margin-bottom: $tab-section-Vmargin;
	}
	@include pc {
		max-height: 540px;
		max-width: 1366px;
		margin: 0 auto $pc-section-Vmargin;
	}
	&-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		@include tab {
			border-radius: 100px 5px 100px 5px;
		}
	}
	&-slide-container {
		height: 100%;
	}
	&-img {
		height: 100%;
		margin-left: calc( 50% - (100vh - #{$sp-information-height} - #{$sp-header-height} ) * 1.23 / 2 );
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
    transform: scale(1);
		transition: opacity 2s linear, transform 7.5s linear;
		&.show {
      opacity: 1;
    }
    &.zoom {
      transform: scale(1.1);
    }
		@include tab {
			height: auto;
			width: 100%;
			margin-top: -90px;
			margin-left: 0;
		}

	}
}

.mv-copy-text {
	color: $color-white;
	font-size: 16px;
	position: absolute;
	top: 4px;
	@include pc {
		font-size: 30px;
		top: 6px;
	}
}

.mv-copy-label {
	height: 26px;
	background-color: $color-main;
	opacity: 0.9;
	@include pc {
		height: 48px;
	}
}

.mv-copy1 {
	position: absolute;
	top: 72px;
	right: 0;
	.mv-copy-container {
		position: relative;
		margin-bottom: 10px;
		@include pc {
			margin-bottom: 24px;
		}
	}
	.mv-copy-text {
		margin-left: 10%;
		@include pc {
			margin-left: 7%;
		}
	}
	.mv-copy-label {
		width: 45vw;
		@include tab {
			width: 30vw;
			max-width: 480px;
		}
	}
}

.mv-copy2 {
	position: absolute;
	bottom: 72px;
	left: 0;
	.mv-copy-container {
		position: relative;
		margin-top: 10px;
		@include pc {
			margin-top: 24px;
		}
	}
	.mv-copy-text {
		right: 0;
		margin-right: 10%;
		@include pc {
			margin-right: 7%;
		}
	}
	.mv-copy-label {
		width: 40vw;
		@include tab {
			width: 30vw;
			max-width: 400px;
		}
	}
}

//  index-container

.idx-container {
	width: 100%;
	position: absolute;
	top: calc( 100% - #{$sp-information-height} + #{$sp-section-Vmargin} );
	left: 0;
	@include tab {
		width: 100vw;
		margin: 0 auto;
		position: initial;
	}
	@include pc {
		max-width: 1326px;
	}
}

//  index-about

.idx-about {
	@include tab {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: $color-white;
		padding: 36px $tab-inner-Hmargin;
		width: 100%;
	}
	@include pc {
		width: auto;
		margin-left: 20px;
		border-radius: 10px;
		max-width: 940px;
		margin-bottom: $pc-section-Vmargin;
	}
	&-wrapper {
		@include sp-inner;
		margin-bottom: $sp-section-Vmargin;
		@include tab {
			width: 45%;
			padding: 0;
			margin-bottom: 0;
		}
		@include pc {
			padding: 0 20px;
			width: 450px;
		}
	}
	&-title {
		@include sub-title;
	}
	&-content {
		margin-bottom: 32px;
	}
	&-button {
		background-color: $color-main;
	}
	&-img {
		display: block;
		width: 100vw;
		@include tab {
			width: 100%;

		}
		@include pc {
			width: 450px;
			border-radius: 10px;
		}
		&-box {
			@include tab {
				width: 45%;
			}
			@include pc {
				width: auto;
			}
		}
	}
}

// index-headache

.idx-headache {
	width: 100vw;
	background-color: $color-main;
	color: $color-white;
	padding-top: $sp-section-Vmargin;
	padding-bottom: 32px;
	text-align: center;
	margin: 0 0 0 auto;
	@include pc {
		width: auto;
		padding: 36px 20px;
		max-width: 940px;
		border-radius: 10px;
		margin-bottom: $pc-section-Vmargin;
		margin-right: 20px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&-wrapper {
		@include sp-inner;
	}
	&-title {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.4;
		margin-bottom: 16px;
		@include pc {
			font-size: 36px;
		}
	}
	&-img {
		@include pc {
			width: 260px;
		}
		img {
			width: 100%;
			max-width: 400px;
			border-radius: 5px;
			margin-bottom: 16px;
		}
	}
}

.idx-headache-list {
	display: inline-block;
	@include pc {
		display: block;
		margin: 0 auto;
	}
	&-item {
		display: flex;
		margin-bottom: 16px;
	}
	&-checkbox {
		box-sizing: content-box;
		min-width: 12px;
		height: 12px;
		border-radius: 2px;
		border: solid 1px $color-white;
		margin-right: 10px;
	}
	&-content {
		margin-top: -8px;
		font-size: 16px;
		font-weight: bold;
		text-align: left;
	}
}

.idx-headache-chevron {
	position: relative;
	width: 24px;
	height: 60px;
	margin: 0 auto 24px;
	@include pc {
		height: 24px;
	}
	&-item {
		position: absolute;
		width: 24px;
		height: 24px;
		border-right: solid 2px $color-white;
		border-bottom: solid 2px $color-white;
		transform: rotate(45deg);
		&:nth-of-type(1) {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 14px;
		}
		&:nth-of-type(3) {
			top: 28px;
		}
	}
}

.idx-headache-answer {
	width: 100%;
	padding: 8px 0;
	margin-bottom: 32px;
	background-color: $color-base;
	color: $color-black;
	text-align: center;
	font-size: 16px;
	line-height: 1.6;
	@include pc {
		font-size: 20px;
	}
}

.idx-headache-button {
	background-color: $color-accent;
}

//  index-points

.idx-points {
	overflow: hidden;
	background-color: rgba($color-white,0.6);
	padding-top: $sp-section-Vmargin;
	padding-bottom: 40px;
	margin-bottom: $sp-section-Vmargin;
	@include pc {
		padding-top: $pc-section-Vmargin;
		margin-bottom: $pc-section-Vmargin;
	}
	&-wrapper {
		@include sp-inner;
		@include pc {
			padding: 0;
		}
	}
	&-title {
		@include sub-title;
		&-emphasis {
			padding: 0 4px;
			font-weight: bold;
			font-size: 30px;
			color: $color-main;
			@include pc {
				font-size: 56px;
				padding: 0 8px;
			}
		}
	}
	&-list {
		@include tab {
			display: flex;
			flex-wrap: wrap;
		}
		&-item  {
			width: 300px;
			padding: 0 20px;
			margin: 0 auto;
			@include pc {
				width: 400px;
				margin-bottom: 20px;
			}
		}
		&-img {
			width: 100%;
			margin-bottom: 30px;
			border-radius: 5px;
			border: solid 1px $color-black;
			@include pc {
				margin-bottom: 16px;
			}
		}
		&-title {
			text-align: center;
			font-size: 21px;
			color: $color-main;
			margin-bottom: 10px;
			@include pc {
				font-size: 26px;
				margin-bottom: 16px;
			}
		}
		&-content {
			font-size: 12px;
			@include pc {
				font-size: 16px;
			}
		}
	}
}

	//  index-copy

.idx-copy {
	padding-bottom: $sp-section-Vmargin;
	@include pc {
		padding-bottom: $pc-section-Vmargin;
	}
	&-text {
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color: $color-main;
		text-shadow: 0 1px 3px rgba($color-main,0.15);
		@include tab {
			font-size: 24px;
		}
		@include pc {
			font-size: 36px;
		}
	}
}
